{% extends "base_generic.html" %}

{% load static %}

{% block content %}

<div class="glav_red">
    <p style="color: #484848;">Настройка профиля</p>
    <form action="" method="post" class="glav_red_form">
    <div class="glav_red_img">
        <img src="{{ user.photo_prof.url }}" alt="">
        <button class="glav_red_img_button"><img src="{% static 'images/icons8-карандаш-96.png' %}" alt=""></button>
    </div>
    <div class="glav_red_log">
        <label for="">Имя пользователя</label>
        <input type="text" placeholder="{{ user.get_username }}">
    </div>
    <div class="glav_red_par">
        <label for="">Изменить пароль</label>
        <label style="color: #484848;" for="">Текущий пароль</label>
        <input type="password">
        <label style="color: #484848;" for="">Новый пароль</label>
        <input type="password">
        <label style="color: #484848;" for="">Подтвердите пароль</label>
        <input type="password">
    </div>
    <button class="glav_red_form_button">Сохранить</button>
    </form>
</div>

{% endblock %}